			.uk-button-primary {
				background-color: #fc7a07 !important;
				color: #fff !important;
			}
			.uk-button-secondary {
				background-color: #eee !important;
				color: #fc7a07 !important;
			}
